<!-- HEADER -->
<header>
    <div class="container-fluid">

        <div class="row barra">
            <!-- logo -->
            <div class="logo col-3">
                <a href="/superadmin/userList">
                    <img src="/images/logo2.2.png" alt="">
                </a>
            </div>

            <!-- buscador -->
            <div class="col-6 buscador">
                <form action="/products/search">
                    <input type="search" name="buscar">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <!-- login/carrito -->
            <div class="col-3 buttons">

                <div class="col-3 buttons">
                    <% if (typeof user !="undefined" ) { %>
                        <div class="chip">
                            <a href="/users/profile"> <img src="/images/users/<%= user.image %> " alt="Person"
                                    width="96" height="96"></a>

                        </div>
                        <% }else{ %>
                            <a href="/users/login"><i class="fas fa-user-circle"></i></a>
                            <% } %>

                </div>

            </div>

        </div>

        <!-- categorias -->
        <div class=" menu">
            <nav class="navbar navbar-expand-md navbar-light menu-2">

                <div class="container-fluid cf">

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav col-md-12 col-lg-12">
                            <li><a class="link" href="/superAdmin/userList">Listar usuarios</a></li>

                            <li><a class="link" href="/superAdmin/adminList">Listar administradores</a></li>

                            <li><a class="link" href="/superAdmin/clientList">Listar clientes</a></li>

                            <li><a class="link" href="/superAdmin/clientAdd">Agregar cliente</a></li>

                        </ul>

                    </div>
                </div>

            </nav>
        </div>
    </div>
</header>

<% if(products.length == 0){%>
    <div class="busquedaError">                    
            <h2 class="textoError">Lo sentimos no encontramos resultado</h2>
        <img src="/images/logo-madera.jpg" alt="">
        </div>
<% }%>