<footer>


    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="footer-contenedor row col-12">
                    <div class=" col-md-3 item-1">
                        <h3>Nosotros</h3>
                        <ul>
                            <li><a href="/theCompany">La empresa</a></li>
                            <li><a href="/team">El equipo</a></li>
                            <li><a href="/contactForCompany">¿Querés ser parte?</a></li>
                        </ul>
                    </div>
                    <div class=" col-md-3 item-2">
                        <h3>Acerca de</h3>
                        <ul>
                            <li><a href="#">Envios</a></li>
                            <li><a href="#">Reservas</a></li>
                            <li><a href="/questions">Preguntas frecuentes</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item-text">
                        <h3>FOOD4ME</h3>
                        <p>Nuestro objetivo es transformar el concepto de comida rápida en una opción apetitosa y saludable, adaptándonos a las necesidades de cada cliente.</p>
                    </div>

                </div>
            </div>

        </footer>
        <div class="col-12 copyright">
            <p class="copyright"> © 2021 Food4me</p>
        </div>
    </div>


</footer>