<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
    <%- include('./partials/header') %>
        <main>
            <div class="container clientAdd">
                <div class="row card cardAdd col-12">
                    <form class="formAdd" action="" method="GET">
                        <h2 class="titulo-formu">Editar datos</h2>

                        <div class="form-row">
                            <div class="camposForm col-12 col-md-6 col-lg-6">
                                <!--Nombre del cliente-->
                                <label for="name" class="form-label">Nombre</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Ingrese el nombre" >
                            </div>
    
                            <div class="camposForm col-12 col-md-6 col-lg-6">
                                <!--teléfono-->
                                <label for="phone" class="form-label">Teléfono</label>
                                <input type="number" name="phone" id="phone" class="form-control" placeholder="Teléfono">
                            </div>
    
                            <div class="camposForm col-12 col-md-6 col-lg-6">
                                <!--calle-->
                                <label for="street" class="form-label">Calle</label>
                                <input type="text" name="street" id="street" class="form-control" placeholder="Calle">
                            </div>
    
                            <div class="camposForm col-12 col-md-6 col-lg-6">
                                <!--altura-->
                                <label for="height" class="form-label">Altura</label>
                                <input type="number" name="height" id="height" class="form-control" placeholder="Altura">
                            </div>
    
                            <div class="camposForm col-12 col-md-6 col-lg-6">
                                <!--localidad-->
                                <label for="location" class="form-label">Localidad</label>
                                <input type="text" name="location" id="location" class="form-control" placeholder="Localidad">
                            </div>
    
                            <div class="camposForm col-12 col-md-6 col-lg-6">
                                <!--provincia-->
                                <label for="province" class="form-label">Provincia</label>
                                <input type="text" name="province" id="province" class="form-control" placeholder="Provincia">
                            </div>
                        </div>

                        <div class="boton-cargaC">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>

                    </form>
                </div>
            </div>

        </main>
        <%- include('./partials/footer') %>
            <%- include('./partials/scripts') %>

</html>