/* CONTACTO */

.contenedor-contacto{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 90px;
    border-radius: 5px;
    padding: 10px;
}

.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.encabezado-contact h2{
    font-family: 'Roboto';
    background: #bc0c2b;
    color: white;
    border-radius: 10px;
}

.encabezado-contact p{
    margin-bottom: 0;
    font-size: 17px;
}

.contenido-contact{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.image-contact{
    padding: 0;
    display: flex;
    justify-content: center;
}

.image-contact img{
    width: 95%;
    border-radius: 4px;    
}

.formu-contact{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formu-contact label{
    padding-left: 4px;
    margin-top: 10px;
    padding-left: 4px;
    margin-bottom: 0;
}

.formu-contact input{
    border: rgb(90, 90, 90) solid 1px;
}

.formu-contact textarea{
    border: rgb(90, 90, 90) solid 1px;
}

.mapa{
    display: flex;
    padding: 0;
    margin-top: 22px;
    margin-bottom: 10px;
}

.mapa iframe{
    border-radius: 4px;
    width: 100%
}
  
 /* MEDIA QUERY */

 @media (min-width: 768px){
    .formu-contact{
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .image-contact img{
        width: 500px;
        height: 300px;   
    }

    .mapa{
        margin-top: 20px;
    }
    
    .mapa iframe{
        padding-left: 20px;
        padding-right: 20px;
    }
    
 }
 @media(min-width: 1024px){
    .image-contact img{
        width: 430px;
        height: 310px;
        margin-top: 32px;  
    }

 }