
/* pie */
footer{
    max-width: 1920px;
}
.preFooter{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preFooter .cardFooter{
    align-items: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
    position: relative;
    cursor: pointer;
}

.preFooter .cardFooter .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.preFooter .cardFooter .face.face1{
    position: relative;
    background: #BC0C2B;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.preFooter .cardFooter:hover .face.face1{
    background: #cc1537;
    transform: translateY(0);
}

.preFooter .cardFooter .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.preFooter .cardFooter:hover .face.face1 .content{
    opacity: 1;
}

.preFooter .cardFooter .face.face1 .content img{
    max-width: 100px;
}

.preFooter .cardFooter .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.preFooter .cardFooter .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.preFooter .cardFooter:hover .face.face2{
    transform: translateY(0);
}

.preFooter .cardFooter .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.preFooter .cardFooter .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.preFooter .cardFooter .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

.footer-dark{
    background-color: #BC0C2B;
}

.footer-dark .item-1{
    text-align: center;
 color: white;
 padding: 10px;
 margin-right: 15px;
margin-left: 15px;
}

.footer-dark .item-1 li{
    list-style: none;
}

.footer-dark .item-1 li a{
    color: white;
}

.footer-dark .item-2{
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;
}

.footer-dark .item-2 li{
    list-style: none;
}

.footer-dark .item-2 li a{
    color: white;
}

.footer-dark .item-text{
    text-align: center;
    color: white;
    padding: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

.footer-dark .item-social{
    padding: 10px;
    text-align: center;
}

.footer-dark .item-social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.9;
  }

  .footer-dark .copyright{
      padding-left: 0;
      padding-right: 0;
      background-color: black;
  }

.footer-dark .copyright p{
    font-size: 10px;
    text-align: center;
    color: white;
    margin-bottom: 0;
}

@media (min-width: 768px){
    .footer-dark .item-2{
        border-top: none;
    border-bottom: none;
    }

    .footer-contenedor{
        display: flex;
        flex-direction: row;
        padding: 15px;
    }

    .footer-dark .item-1 {
        order: 1;
        padding: 0px; 
        margin-right: 0px;
        margin-left: 0px;
    }

    .footer-dark .item-2 {
        order: 3;
        text-align: center;
        margin-right: 0px;
        margin-left: 0px;
        color: white;
        border-top: none;
        border-bottom: none;
        padding: 0px;
    }

    .footer-dark .item-text {
        order: 2;
        border-right: 1px solid white;
        border-left: 1px solid white;
        padding-left: 10px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .footer-dark .item-social {
        border-top: 1px solid white;
    }

    .footer-dark .item-social > a{
        justify-content: space-between;
    }

    .preFooter{
        width: 1000px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .preFooter .cardFooter{
        align-items:inherit;
        
    }
}