header{
    z-index: 100;
    max-width: 1440px;
    top: 0;
    width: 100%;
    background-color: #BC0C2B;
}

/* search */
header .buscador{
    text-align: center;
}

header .buscador input{
    outline: none;
    margin-top: 14px;
    height: 25px;
    width: 75%;
    border-radius: 10px 0 0 10px;
    border: none;
}

header .buscador button{
    margin-top: 16px;
    height: 25px;
    width: 30px;
    background-color: white;
    border: none;
    margin-left: -4px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;   
}

/* logo */
img{
    margin-top: 10px;
    width:130%;
}

header .logo a{
    display: inline-block;
    max-width: 220px;
}


/* login-carrito */
header .buttons{
    display: flex;
    justify-content: flex-end;
}

header .buttons a{
    
    margin-top: 10px;
    border: none;
    color: white;
    background-color: #BC0C2B;
    height: 35px;
    width: 35px;
    font-size: 25px;
}

/* categorias */

header .menu{
    
    margin: 10px 0 10px;    
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

header .menu .menu-2{
    
    width: 80%;
}

header .menu .menu-2 .cf{
    justify-content: center;
}

header .menu ul{  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .menu ul li a{   
    color: white;
    text-decoration: none;
}

.link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width .3s;
}

.link:hover::after{
    width: 100%;
    transition: width .3s;
}

/* MODAL */

.chip {
    display: inline-block;
    padding: 0 25px;   
    border-radius: 25px;
    
  }
  
  .chip img {    
    margin: 0 10px 0 -25px;
    height:30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 14px;
  }
/* MEDIA QUERYS */
@media (min-width: 768px){

    .navbar-expand-md .navbar-collapse {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navbar-expand-md .navbar-nav {
        flex-direction: row;
        width: 120%;
    }

    header img{
        width: 100%;
    }
    header .menu ul li{   
        white-space: nowrap;    
        border-bottom: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    header .buscador input{
        height: 35px;
        margin-top: 10px;
    }
    header .buscador button {
        height: 35px;
        margin-top: 12px;
    }

}
@media (min-width: 1024px){    

    header .buttons{
    justify-content: space-evenly;
    }
    main{
    
        margin-top: 200px;
    }

    header .buttons{
        justify-content: center;
    }
    header .buttons button{
        margin-top: 25px;
        margin-left: 15px;
    }

    header .menu ul li{
        text-align: center;
    }
    main .btns .btn{
        width: 95%;
    } 
}
