.home-container{
    margin-top: -90px;
    padding: 0px;
    max-width: 1920px;
}

.home-conten{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

.home-conten img{
width: 100%;
}

.texto-home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    padding: 10px 0px;
}

.texto-home p{
    text-align: center;
    text-align: center;
    padding: 0px 35px;
    font-family: 'Roboto';
    color: #bc0c2b;
    margin: 10px;
    font-weight: 400;
}

.titulo-marcas{
    display: flex;
    justify-content: center;
    background-color: #bc0c2b;
    /* margin-top: 20px; */
    padding: 5px;
}

.titulo-marcas h4{
    text-align: center;
    color: white;
}

.home-marcas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin-bottom: -25px;
}

.home-marcas img{
    width: 100%;
    margin-top: 0px;
}


@media(min-width: 768px){
    .texto-home p{
        font-weight: 500;
        padding: 0px 80px;
        margin: 14px;
    }
}

@media (min-width:1024px){
    .titulo-marcas h4{
        font-size: 36px;
    }

    .texto-home p{
        font-weight: 500;
        padding: 0px 90px;
        width: 50%;
        margin: 14px;
        font-size: 24px;
    }
}