/*IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400&display=swap');
@import url('/stylesheets/carrito.css');
@import url('/stylesheets/footer.css');
@import url('/stylesheets/header.css');
@import url('/stylesheets/login.css');
@import url('/stylesheets/productAdd.css');
@import url('/stylesheets/productDetail.css');
@import url('/stylesheets/register.css');
@import url('/stylesheets/profile.css');
@import url('/stylesheets/contact.css');
@import url('/stylesheets/home.css');

*{
    font-family: gentium;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url('/images/fondo-luces.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* main */
.padre{
    background-color: rgba(0, 0, 0, 0.639);
    border-radius: 2px;
    padding: 30px;
}

.titulo-menu{
    color: white;
    margin-top: 8px;
    background-color: black;
    padding: 6px;
    margin: 0;
}

.titulo-medio{
    margin-top: 40px;
    margin-bottom: 10px;
}

main{    
    margin-top: 80px;
    margin-bottom: 25px;
    
}

.carrousel{
    margin-left: auto;
    width: 95%;
    margin-right: auto;
    display: none;
}

.carrousel-items{
box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.452);
}

.carrousel-items .carrousel-item img {
    height: 300px;
    
}

main .productos .contenido{
    border-radius: 10px;
    margin-top: 15px;
    padding: 8px;
    height: 80%;
    margin-bottom: 15px;
    transition: transform 0.5s ease, box-shadow .5s ease;
}

main .productos .contenido:hover {
    transform: scale(1.02);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.452);
}

main .productos .contenido .datos{
    display: flex;
    border: 1px solid white;
}

main .productos .contenido .datos .precio{
    display: flex;
}

main .productos .contenido .datos h3,
main .productos .contenido .datos span{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main .productos .contenido h3{
    text-align: center;
    font-size: 40px;
}

main .productos .contenido i:hover{
    font-size: 30px;
}

main .contenido{
    
    background-color: white;
}

main .contenido a{    
    color: rgb(0, 0, 0);
    text-decoration: none;
}
main .contenido .img-productos{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    height: 40vh;
}

main .contenido img{
    width: 95%;
    border-radius: 4px;
}

main h2{
    text-decoration-line: none;
    font-family: 'Roboto';
    font-weight: 600;
    text-align: center;
    color: rgb(0, 0, 0);
}

main .btns{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
}

main .btns-form{
    display: flex;
    width: 100%;
    padding-left: 0;
    margin-top: -10px;
    padding-right: 0;
    
}

main .btns-form .botones-index{
    width: 100%;
    margin-left: -2px;
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

main .btns-form .boton-comprar{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .btns button{   
    border-radius: 12px;   
    color: white;
    font-weight: 900;
    height: 70px;
    width:100%;
    border: none;
    background-color: #BC0C2B;
}

main .btns .btn{
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 90%;
    border: 1px solid ;
}

/*---------------------------------------------------------------------------------------------------------MEDIA QUERYS*/

/* MEDIA QUERYS */
@media (min-width: 768px){
    .carousel{
        padding: 40px;
        width: 95%;
        margin-top: -40px;
        margin-bottom: 10px;
        display:block;
    }

    .contenido-form{
        max-width: 70%;
    }

    main input{
        width: 50%;
    }
}
@media (min-width: 1024px){
    main .btns .btn{
        width: 95%;
    } 
    main .contenido .img-productos{
        height: 30vh;
    }
}

@media (min-width: 1440px){
    main .contenido .img-productos{
        height: 35vh;
    }
    main .container{
        width: 95%;
        max-width: 1440px;
    }
}
