*{
      font-family: 'gentium';
}



.card{
  
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.452);
}  
    
.home.html{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
}
    
    
    /*titulo de Registrate*/
h1{
      font-family: 'Roboto';
    text-align: center;
    font-weight: 500;
    margin: 20px 0;
    background: #bc0c2b;
    color: white;
    border-radius: 10px;
        
}
    
    
    /*Datos del registrate*/
    .datosLogin{
     flex-wrap: wrap;
     
    }
    
    .EntradasLogin{
      
      display: flex;
      flex-direction: column;
      
    } 
    .EntradasLogin label{
        /*margin-top: 10px;
        padding-top: 20px;*/
        font-weight: bold;
        color: rgb(49, 49, 49);
    
      }
    .EntradasLogin input{
        width: 80%;
        height: 30px;
        padding-left: 20px;
        border-radius: 3px;
        
    
      }
    
    
   
    
    /*Bonotes*/
    .botonesLogin{
      display: flex;
     flex-wrap:wrap;
     justify-content: space-around;
     margin-bottom: 25px;
     
    }
    
    
    .botonesLogin button{
        background-color: #BC0C2B;
        color: #fff;
        width: 100px;
        height: 60%;
        border-radius: 10px;
        border:none;
        
    }
    
      