body{
    background-image: url("../img/fondo.jpeg");
    background-repeat : no-repeat;
    background-size: cover;
}
div.form{
      width: 350px;
      margin: auto;
      background-color:#fff;
      
}

div.form h1{
      text-transform: uppercase;
      text-align: center;
      color: rgb(49, 49, 49);
}
    
    
div.form div.Entradas label{
      margin-top: 10px;
      padding-top: 20px;
      font-weight: bold;
      color: rgb(49, 49, 49);
  
}
    
div.form div.Entradas input{
      width: 80%;
      margin: 10px 0px ;
      height: 30px;
      padding-left: 10px;
}
    
div.form div.Recordar{
      overflow: hidden;
      margin: 15px 0px;
}
    
div.form div.Recordar input{
      float: right;
 }

 div.form div.Recordar label{
      font-weight: bold;
      color: rgb(49, 49, 49);
      float: right;
      padding-left: 10px;
}
    
div.form button{
      background-color: rgb(76, 172, 231);
      color: #fff;
      width: 100px;
      height: 30px;
      border-radius: 10px;
      border:none;
}
   
div.form p{
      color: red;
}
  