/*PRODUCT ADD*/
.cardAdd{
    display: flex;
    justify-content: center;
    box-shadow: 10px 5px 5px rgb(0 0 0 / 45%);
    border-radius: 0 40px 0 40px;
    max-width: 680px;
}

.cardEdit{
    display: flex;
    justify-content: center;
    box-shadow: 10px 5px 5px rgb(0 0 0 / 45%);
    border-radius: 0 40px 0 40px;
    max-width: 680px
}
.contenedor-product-add{
    margin-top: 80px;
    margin-bottom: 90px;
}

.contenedor-detalle{
    margin-top: 200px;
    margin-bottom: 150px;
}

.contenido-form{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: rgba(0, 0, 0, 0.537) solid 1px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.452);
}

.contenido-form .entrada{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.contenido-form input , .contenido-form label{
    width: 100%;
}

.contenido-form .checks{
    justify-content: space-around;
}

.contenido-form textarea{
    width: 100%;
}

.titulo-formu{
    font-family: 'Roboto';
    text-align: center;
    font-weight: 500;
    margin: 20px 0;
    background: #bc0c2b;
    color: white;
    border-radius: 10px;
}

.contenido-form .boton-carga{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.contenido-form .boton-carga .btn{
    background-color: #bc0c2b;
    border: #bc0c2b 1px solid;
    font-weight: bold;
}

.contenido-form .boton-carga .btn:hover{
    border-radius: 50px;
    background: #BC0C2B;
    box-shadow: inset -5px 5px 10px #5a0615,
                inset 5px -5px 10px #ff1241;
}

