.body-profile{
    width: 90%;
    padding: 15px;
    margin-top: 80px;
    margin-bottom: 90px;
}
.perfil-text h2{
    font-family: roboto;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
}

.profile-dato .datos{
    text-align: center;
    flex-direction: column;
    display: flex;
}

.img-perfil{
    justify-content: center;
    display: flex;
}

.profile-dato{
    justify-content: center;
}

.profile-dato img{
    margin-bottom: 25px;
    justify-content: center;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border: 2px solid black;
}

.info-profile{
    align-items: baseline;
    justify-content: center;
    display: flex;
}

.info-profile p{
    margin-left: 8px;
    font-size: 20px;
}

.info-profile h4{
    font-weight: bold;
}

.botones-profile{
    display: flex;
}
.botones-profile button{
    height: 45px;
}

/* MEDIA QUERYS */
@media (min-width: 768px){
    .body-profile{
        width: 60%;
    }
}
@media (min-width: 1024px){
    .body-profile{
        width: 45%;
    }
}

@media (min-width: 1440px){
    .body-profile{
        max-width: 40%;
    }
}
