.body-profile{
    background-color: #BC0C2B;
    border-radius: 0 40px 0 40px;
    width: 90%;
    padding: 15px;
    margin-top: 80px;
    margin-bottom: 90px;
}
.perfil-text h2{
    font-family: roboto;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
}

.profile-dato .datos{
    text-align: center;
    flex-direction: column;
    display: flex;
}

.img-perfil{
    justify-content: center;
    display: flex;
}

.profile-dato{
    justify-content: center;
    background: #e20f38;
    border-radius: 400px 200px 400px 250px;
}

.profile-dato img{
    margin-bottom: 25px;
    justify-content: center;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border: 2px solid black;
}

.info-profile{
    color: white;
    align-items: baseline;
    justify-content: center;
    display: flex;
}

.info-profile p{
    margin-left: 8px;
    font-size: 20px;
}

.info-profile h4{
    font-weight: bold;
}

.botones-profile{
    padding-top: 15px;
    text-align: center;
    display: flex;
    padding-bottom: 15px;
    
}
.botones-profile button{
    border: none;
    border-radius: 50px;
background: linear-gradient(145deg, #c90d2e, #a90b27);
box-shadow:  5px 5px 10px #5a0615,
             -5px -5px 10px #ff1241;
    height: 45px;
}

.botones-profile button:hover{
    border-radius: 50px;
    background: linear-gradient(145deg, #a90b27, #c90d2e);
    box-shadow:  5px 5px 10px #5a0615,
                 -5px -5px 10px #ff1241;
}

/* MEDIA QUERYS */
@media (min-width: 768px){
    .body-profile{
        width: 60%;
    }
}
@media (min-width: 1024px){
    .body-profile{
        width: 45%;
    }
}

@media (min-width: 1440px){
    .body-profile{
        max-width: 40%;
    }
}
