/*Register*/
.contenedor-Login{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
}

.contenedorRegister{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px;
}


/*titulo de Registrate*/
.registerTitulo{
    font-family: 'Roboto';
    text-align: center;
    font-weight: 500;
    margin: 20px 0;
    background: #bc0c2b;
    color: white;
    border-radius: 10px;  
}

.card{
    background-color: #bc0c2b;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.452);
    border-radius: 0 40px 0 40px;
    max-width: 850px;
}

.datosRegister{
    display: flex;
    flex-wrap: wrap;
}

.EntradasRegister{
    display: flex;
    flex-direction: column; 
} 

.EntradasRegister label{
    margin-top: 10px;
    padding-top: 20px;
    font-weight: bold;
    color:white;
}

.EntradasRegister input{
    border-radius: 50px;
    width: 100%;
    height: 50px;
    padding-left: 10px;
   
}

.negritaRegister{
    overflow: hidden;
    margin: 15px 0px;
}

.negritaRegister input{
    flex-direction: column;
    border-radius: 2px;
}

.EntradasRegister .avatar{
    border-radius: 0px;
}

.terminosRegister{
    text-align: center;
    padding: 10px;
}

.botonesRegister{
    justify-content: center;
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 25px;
}

.botonesRegister button{
    border-radius: 50px;
background: linear-gradient(145deg, #c90d2e, #a90b27);
box-shadow:  5px 5px 10px #5a0615,
             -5px -5px 10px #ff1241;
    color: #fff;
    width: 100px;
    height: 60px;
    border:none; 
}

.botonesRegister button:hover{
    border-radius: 50px;
    background: linear-gradient(145deg, #a90b27, #c90d2e);
    box-shadow:  5px 5px 10px #5a0615,
                 -5px -5px 10px #ff1241;
}


.checkRegister{
    margin-top: 0;
    padding-bottom: 15px;
}

