<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <div class="container contenedor-product-add">
                <div class="row contenido-form card mx-auto col-12">
                    <form action="/admin/create" method="POST" enctype="multipart/form-data">
                        <h2 class="titulo-formu">Carga de producto</h2>

                        <div class="mb-3 entrada">
                            <!--producto-->
                            <label for="name" class="form-label">Nombre del producto</label>
                            <input type="text" name="name" id="name" class="form-control" placeholder="Ingrese el nombre del producto">
                        </div>

                        <div class="mb-3 entrada">
                            <!--categoria-->
                            <label for="category" class="form-label">Categoría</label>
                            <select name="category" id="category" class="custom-select">
                                <option selected>Selecciona la categoría</option>
                                <option value="Entrada">Entrada</option>
                                <option value="Plato principal">Plato principal</option>
                                <option value="Postre">Postre</option>
                                <option value="Pastelería">Pastelería</option>
                            </select>
                        </div>

                        <div class="mb-3 entrada  checks">
                            <!--opciones vegetariano, vegano, celiaco-->
                            <div class="custom-control custom-checkbox checks">
                                <input value="vegetarian" type="checkbox" class="custom-control-input" id="vegetarian" name="vegetarian">
                                <label class="custom-control-label" for="vegetarian">Comida vegetariana</label>  
                            </div>
                            <div class="custom-control custom-checkbox checks">
                                <input value="vegan" type="checkbox" class="custom-control-input" name="vegan" id="vegan">
                                <label class="custom-control-label" for="vegan">Comida vegana</label>
                            </div>
                            <div class="custom-control custom-checkbox checks">
                                <input value="celiac" type="checkbox" class="custom-control-input" name="celiac" id="celiac">
                                <label class="custom-control-label" for="celiac">Comida para celíacos</label>
                            </div>
                            <div class="custom-control custom-checkbox checks">
                                <input value="none" type="checkbox" class="custom-control-input" name="none" id="none">
                                <label class="custom-control-label" for="none">Ninguno de los anteriores</label>
                            </div>
                        </div>

                        <div class="mb-3 entrada">
                            <!--precio-->
                            <label for="price" class="form-label">Precio</label>
                            <input type="number" name="price" id="price" class="form-control" placeholder="Precio unitario">
                        </div>

                        <div class="mb-3 entrada">
                            <!--cliente-->
                            <label for="client" class="form-label">Nombre del cliente</label>
                            <input type="text" name="client" id="client" class="form-control" placeholder="Nombre del bar/restaurante">
                        </div>

                        <div class="mb-3 entrada">
                            <!--descripción-->
                            <label for="description" class="form-label">Descripción</label>
                            <textarea class="form-control" name="description" id="description" rows="3"></textarea>
                        </div>

                        <div class="mb-3 entrada">
                            <!--imagen-->
                            <label for="image" class="form-label">Foto del producto</label>
                            <input type="file" id="image" name="image">
                        </div>

                        <div class="boton-carga">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>

                    </form>
                </div>
            </div>

            <%- include('./partials/footer') %>

                <%- include('./partials/scripts') %>
    </body>

</html>