<footer>

    <div class="container pie">
        <div class="row">
            <div class="col-12 pie2">
                <a href="#">¿Quienes somos?</a> 
                <a href="#">Ayuda </a> 
                <a href="#">Terminos y condiciones</a>
            </div>
            <div class="col-12">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13139.347577400822!2d-58.43916209238511!3d-34.58299340890442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf778a5ab942b6f9b!2sDandy%20Grill!5e0!3m2!1ses-419!2sar!4v1611799612937!5m2!1ses-419!2sar"
                    width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""
                    aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-12 qr" id="qrcode">
                <img src="/public/images/qr-carta.png" alt="Generador de Códigos QR Codes" />
                <br /><a href="https://www.codigos-qr.com/en/qr-code-generator/" target="_blank"
                    id="qrgenerator"></a>
            </div>
        </div>
    </div>
</footer>







<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
    crossorigin="anonymous"></script>