<!-- HEADER -->
<header>
    <div class="container-fluid">

        <div class="row barra">
            <!-- logo -->
            <div class="logo col-3">
                <a href="/">
                    <img src="/images/logo2.2.png" alt="">
                </a>
            </div>

            <!-- buscador -->
            <div class="col-6 buscador">
                <form action="search">
                    <input type="search">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <!-- login/carrito -->
            <div class="col-3 buttons">

                <a href="/users/login"><i class="fas fa-user-circle"></i></a>
                <a href="/products/carrito"><i class="fas fa-cart-arrow-down"></i></a>


            </div>

        </div>

        <!-- categorias -->
        <div class=" menu">
            <nav class="navbar navbar-expand-lg navbar-light menu-2">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav col-md-12 col-lg-12">
                            <li><a href="">Reservas</a></li>

                            <li><a href="">Veggies</a></li>

                            <li><a href="">Pasteleria</a></li>

                            <li><a href="">Entradas</a></li>

                            <li><a href="">Platos principales</a></li>

                            <li><a href="">Postres</a></li>

                        </ul>

                    </div>
                </div>

            </nav>
        </div>
    </div>
</header>