<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
  <%- include('./partials/header') %>
    <main>
      <div class="container-fluid">
        <div class=" col-12 home-conten">
          <div class="img-home col-12 col-md-8">
            <img src="/images/imgHome.jpg" alt="imghome">
          </div>
          <div class="text-home col-12 col-md-4">
            <div class="col-12">
              <div class="col-12 subtext">
                <h2>¿Que nos hace tan especiales?</h2>
              </div>
              <div class="col-12">
                <p>Nuestra oferta gastronómica parece sencilla, pero lo que nos diferencia de los demás es nuestro toque
                  de
                  originalidad en cada plato. Los ingredientes que utilizamos en la elaboración de cada receta son de
                  calidad,
                  nuestros platos se preparan al momento, adaptándonos así a las necesidades de nuestros clientes.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="conten-home2">
          <div class="sub-conten">
            <h3>"NOS GUSTA COCINAR PARA LAS PERSONAS QUE LES GUSTA COMER"</h3>
            <p>Las combinaciones creativas y la utilización de productos de primera calidad hacen de nuestros platos una
              excelente opción con la mejor relación calidad precio.</p>
            <p>Food4me tiene como objetivo transformar el concepto de comida rápida en una opción apetitosa y saludable,
              un
              lugar donde puedas comer sin arrepentimientos. </p>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer') %>
      <%- include('./partials/scripts') %>

</html>