<!DOCTYPE html>
<html lang="es">
<%- include ('/partials/head') %> 

<%- include ('/partials/header') %>
    <main>
        <!-- banner -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/public/images/banner.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/public/images/catering.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/public/images/red-apples.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <!-- banner -->

        <div class="container-fluid">

            <div class="row productos">



                <div class="col-12 col-md-6 col-lg-3 producto">
                    <div class="contenido">
                        <a href="">


                            <img src="/public/images/plato vegetariano.jpg" alt="">

                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quasi nemo
                                aperiam laudantium delectus hic eum quas maxime, quos nostrum ipsa
                                necessitatibus
                                voluptate ab natus dolorem saepe est dolor molestiae!
                            </p>

                            <h3>$120</h3><br>
                            <span class="descuento">50% off</span>

                            <i class="fas fa-truck"></i>

                        </a>
                        <div class="col-12 btns">
                            <div class="col-6">
                                <button class="btn-1" type="button">Comprar</button>
                            </div>
                            <div class="col-6">
                                <button class="btn-2" type="submit"><span
                                        class="fas fa-cart-arrow-down"></span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 producto">
                    <div class="contenido">
                        <a href="">


                            <img src="/public/images/pizza.jpg" alt="">

                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quasi nemo
                                aperiam laudantium delectus hic eum quas maxime, quos nostrum ipsa
                                necessitatibus
                                voluptate ab natus dolorem saepe est dolor molestiae!
                            </p>

                            <h3>$120</h3><br>
                            <span class="descuento">50% off</span>

                            <i class="fas fa-truck"></i>

                        </a>
                        <div class="col-12 btns">
                            <div class="col-6">
                                <button class="btn-1" type="button">Comprar</button>
                            </div>
                            <div class="col-6">
                                <button class="btn-2" type="submit"><span
                                        class="fas fa-cart-arrow-down"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 producto">
                    <div class="contenido">
                        <a href="">


                            <img src="/public/images/barbeque.jpg" alt="">

                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quasi nemo
                                aperiam laudantium delectus hic eum quas maxime, quos nostrum ipsa
                                necessitatibus
                                voluptate ab natus dolorem saepe est dolor molestiae!
                            </p>

                            <h3>$120</h3><br>
                            <span class="descuento">50% off</span>

                            <i class="fas fa-truck"></i>

                        </a>
                        <div class="col-12 btns">
                            <div class="col-6">
                                <button class="btn-1" type="button">Comprar</button>
                            </div>
                            <div class="col-6">
                                <button class="btn-2" type="submit"><span
                                        class="fas fa-cart-arrow-down"></span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 producto">
                    <div class="contenido">
                        <a href="">


                            <img src="/public/images/cake.jpg" alt="">

                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quasi nemo
                                aperiam laudantium delectus hic eum quas maxime, quos nostrum ipsa
                                necessitatibus
                                voluptate ab natus dolorem saepe est dolor molestiae!
                            </p>

                            <h3>$120</h3><br>
                            <span class="descuento">50% off</span>

                            <i class="fas fa-truck"></i>

                        </a>
                        <div class="col-12 btns">
                            <div class="col-6">
                                <button class="btn-1" type="button">Comprar</button>
                            </div>
                            <div class="col-6">
                                <button class="btn-2" type="submit"><span
                                        class="fas fa-cart-arrow-down"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 producto">
                    <div class="contenido">
                        <a href="">


                            <img src="/public/images/hamburger.jpg" alt="">

                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quasi nemo
                                aperiam laudantium delectus hic eum quas maxime, quos nostrum ipsa
                                necessitatibus
                                voluptate ab natus dolorem saepe est dolor molestiae!
                            </p>

                            <h3>$120</h3><br>
                            <span class="descuento">50% off</span>

                            <i class="fas fa-truck"></i>

                        </a>
                        <div class="col-12 btns">
                            <div class="col-6">
                                <button class="btn-1" type="button">Comprar</button>
                            </div>
                            <div class="col-6">
                                <button class="btn-2" type="submit"><span
                                        class="fas fa-cart-arrow-down"></span></button>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </main>
    <div class="container atajos">
        <div class="row">
            <div class="col12 atajos2">
                <a href="#"><i class="fas fa-truck"></i>Envios</a>
            </div>
            <div class="col12 atajos2">
                <a href="#"><i class="fas fa-percentage"></i>Ofertas</a>
            </div>
            <div class="col12 atajos2">
                <a href="#"><i class="fas fa-credit-card"></i>Formas de pago</a>
            </div>
        </div>
    </div>
<%- include ('/partials/footer') %>