<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>


    <body>
        <%- include('./partials/header') %>
            <div class="contenedorLogin">
                <div class="container form ">
                    <div class="row card mx-auto">
                        <h1 class="loginTitulo">Login</h1>
                        <form action="home.html" class="contenidoLogin">
                            <div class="col-12  col-md-12 datosLogin">

                                <div class="EntradasLogin">
                                    <label for="mail">Usuario</label>
                                    <input type="email" name="mail" id="mail" placeholder="Ingresa tu Usuario">
                                </div>


                                <div class="EntradasLogin">
                                    <label for="mail">Email</label>
                                    <input type="email" name="mail" id="mail" placeholder="Ingresa tu email">
                                </div>

                                <div class="EntradasLogin">
                                    <label for="pass">Contraseña</label>
                                    <br>
                                    <input type="password" name="pass" id="pass" placeholder="Password">
                                </div>
                            </div>

                            <div class="botonesLogin">
                                <button type="submit">Ingrese</button>
                                <button type="submit"> <a href="/users/register"> Registrarme </a></button>
                                <button type="reset">Cancelar</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>


            <%- include('./partials/footer') %>

                <%- include('./partials/scripts') %>
    </body>