 <!-- Modal login -->
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body"> -->
                <!-- login -->
                <!-- <div class="row card-login mx-auto">
                    <h1 class="loginTitulo">Login</h1>
                    <form action="/users/login" method="POST" id="form-login" class="form-login">
                        <div class="col-12  col-md-12 datosLogin">
                            <div class="col-12 EntradasLogin">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Ingresa tu email"
                                    value="<%= (typeof datos!='undefined' && datos.email)?datos.email : "" %>">
                                <span class="text-white-50" id="errorEmail">
                                    <%= (typeof errores !='undefined' && errores.email) ? errores.email.msg : null
                                        %>
                                </span>
                            </div>
                
                            <div class="col-12 EntradasLogin">
                                <label for="pass">Contraseña</label>
                                <input type="password" class="form-control" name="pass" id="pass"
                                    placeholder="Ingresa tu contraseña"
                                    value="<%= (typeof datos!='undefined' && datos.pass)?datos.pass : "" %>">
                                <span class="text-white-50" id="errorPass">
                                    <%= (typeof errores !='undefined' && errores.pass) ? errores.pass.msg : null%>
                                </span>
                            </div>
                
                            <div class="col-12 EntradasLogin custom-control custom-checkbox recordame">
                                <input type="checkbox" class="custom-control-input" id="recordar" name="recordar">
                                <label class="custom-control-label" for="recordar">Recordame</label>
                                <span id="msgError" class="text-white-50"></span>
                            </div>
                        </div>
                
                        <div class="botonesLogin">
                            <button type="submit">Ingresar</button>
                            <a class="botonLogin" href="/users/register"> Registrarme</a>
                        </div>
                    </form> -->
                </div>
                <!-- login -->
            </div>
          </div>
        </div>
      </div>