<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <div class="container form contenedorRegister">
                <div class="row card mx-auto ">
                    <h1 class="registerTitulo">Registrate</h1>
                    <form action="home.html">
                        <div class="col-12  col-md-12 datosRegister">

                            <div class="EntradasRegister col-12">
                                <label for="mail">Usuario</label>
                                <input type="email" name="mail" id="mail" placeholder="Ingresa tu Usuario">
                            </div>

                            <div class="EntradasRegister col-12">
                                <label for="nombre">Nombre</label>
                                <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre">
                            </div>

                            <div class="EntradasRegister col-12">
                                <label for="apellido">Apellido</label>
                                <input type="text" name="apellido" id="apellido" placeholder="Ingresa tu apellido">
                            </div>

                            <div class="EntradasRegister">
                                <label for="mail">Usuario</label>
                                <input type="email" name="mail" id="mail" placeholder="Ingresa tu Usuario">
                            </div>

                            <div class="EntradasRegister">
                                <label for="pass">Contraseña</label>

                                <input type="password" name="pass" id="pass" placeholder="Password">
                            </div>

                            <div class="EntradasRegister  col-12">
                                <label for="pass"> Confirmar Contraseña</label>

                                <input type="password" name="pass" id="pass" placeholder="Password">
                            </div>

                            <div class="EntradasRegister col-12">
                                <label for="">Fecha de Nacimiento </label>
                            </div> 

                            <div class="check col-12">

                                <input type="date" name="" id="">
                            </div>
                        </div>


                        <div class="check">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Genero</option>
                                <option value="1">Masculino</option>
                                <option value="2">Femenino</option>
                                <option value="3">Prefiero no Decirlo</option>
                            </select>


                            <div class="terminosRegister">
                                <input type="checkbox" name="" id="accepto">
                                <label for="accepto">Acepto los terminos y condiciones.</label>
                            </div>
                        </div>

                        <div class=" col-12 botonesRegister">

                            <button type="submit">Registrarme</button>
                            <button type="reset">Cancelar</button>
                        </div>

                    </form>


                </div>
            </div>

            <%- include('./partials/footer') %>

                <%- include('./partials/scripts') %>
    </body>

</html>