<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
  <%- include('./partials/header') %>
    <main class="empresa">

        <body class="team">
            <div class="container-fluid home-container">

                <div class="home-conten">
                  <img src="/images/team1.png" alt="imghome">
                </div>

                <div class="titulo-marcas">
                    <h4>El equipo</h4>
                  </div>

                  <div class="container-fluid row team">
                    <div class="flip-card cardTeam">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img src="images/tavo.jpeg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                          <h1>Gustavo Acosta</h1>
                          <p>Desarrollador web Jr.</p>
                          <p>Futuro estudiante de tecnicatura superior en informática en la Universidad Nacional de General Sarmiento.</p>
                        </div>
                      </div>
                    </div> 

                    <div class="flip-card cardTeam">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img src="images/belu.jpeg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                          <h1>Belén Bernal</h1>
                          <p>Desarrolladora web Jr.</p>
                          <p>Estudiante de ingeniería en informática en la Universidad Nacional de la Matanza.</p>
                        </div>
                      </div>
                    </div> 
                  </div>
                       
              </div>

              
        </body>
      

    </main>
    <%- include('./partials/footer') %>
      <%- include('./partials/scripts') %>

</html>