<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
  <%- include('./partials/header') %>
    <main class="empresa">

        <body class="team">
            <div class="container-fluid home-container">

                <div class="home-conten">
                  <img src="/images/team1.png" alt="imghome">
                </div>

                <div class="titulo-marcas">
                    <h4>El equipo</h4>
                  </div>

                  <div class="texto-home bodyTeam">
                    <p>Somos una empresa orientada al desarrollo tecnológico en el área gastronómica. El servicio que se brinda es un sitio en donde los locales gastronómicos podrán ofrecer sus productos y servicios, al mismo tiempo que los usuarios interactúan con el sitio para elegir el plato/postre que mejor se adapte a sus gustos y además también podrán elegir una reserva para el restaurante/bar de su preferencia. Nuestro sitio busca solucionar el problema de las personas con un tipo de alimentación particular que no conocen un lugar adecuado que se adapte a sus necesidades. Food4me se encarga de solucionar ese problema de forma fácil y rápida.</p>
                    <p>El sitio fue creado para que todo el público pueda utilizarla, pero fue especialmente diseñada para las personas que dispongan poco tiempo y deseen una solución rápida con un menú variado y nutritivo, también, para personas con alguna dieta alternativa, como por ejemplo vegetarianos, celíacos, veganos, entre otros.</p>
                    <p>Nuestros clientes son los locales gastronómicos, quienes al utilizar los servicios de nuestro sitio, podrán obtener un gran incremento en sus ventas.</p>
                  </div>       
              </div>

              
        </body>
      

    </main>
    <%- include('./partials/footer') %>
      <%- include('./partials/scripts') %>

</html>